In [1]:
from __init__ import *
from CEMBA_update_mysql import connect_sql
import re

In [2]:
database = 'CEMBA'
engine = connect_sql(database)

In [3]:
sql = """SELECT * FROM ABA_regions 
"""
df = pd.read_sql(sql, engine)
print(df.shape)
df.head()

(141, 3)

  code  ABA_acronym                                    ABA_description
0   1A          MOs                               Secondary motor area
1   1B      ORB+FRP       Orbital area+Frontal Pole (cerebelar cortex)
2   1C  MOB+AOB+AON  Main olifactory bulb+Accessory olifactory bulb...
3   2A    ACA+PL+IL  Anterior cingulate area+Prelimbic area+Infrali...
4   2B          MOs                               Secondary motor area

In [5]:
# df['regions'] = df['ABA_acronym'].apply(lambda x: re.sub(r"[a-z]", "", x).split('+'))
# res = df[df['regions'].apply(lambda x: np.any([(region in isocortex) for region in x]))]
# # res.to_csv(os.path.join(PATH_REFERENCES, 'Brain_regions', 'ABA_brain_regions_isocortex.tsv'), sep='\t', na_rep='NA', header=True, index=False)
# res.shape
# res.head()

In [8]:
# df.to_csv(os.path.join(PATH_REFERENCES, 'Brain_regions', 'ABA_brain_regions.tsv'), sep='\t', na_rep='NA', header=True, index=False)

In [9]:
# f = os.path.join(PATH_REFERENCES, 'Brain_regions', 'RS2_injection_regions.tsv')
# df = pd.read_table(f)
# df_new = df.drop(0)[['Code', 'Region name', 'Descriptive name', 'Corresponding dissected regions']]
# df_new.head()

In [10]:
# df_new.to_csv(os.path.join(PATH_REFERENCES, 'Brain_regions', 'RS2_injection_regions.tsv'), 
#               sep='\t', na_rep='NA', header=True, index=False)

In [4]:
isocortex = [
    'FRP', 'MO',
    'SS', 'GU',
    'VISC', 'AUD',
    'VIS', 'ACA',
    'PL', 'ILA',
    'ORB', 'AI',
    'RSP', 'PTLp',
    'TEa', 'PERI',
    'ECT',
]

In [17]:
sql = """SELECT * FROM datasets 
"""
datasets = pd.read_sql(sql, engine)
datasets['code'] = datasets['dataset'].apply(lambda x: x.split('_')[1])
datasets['regions'] = datasets['brain_region'].apply(lambda x: re.sub(r"[a-z]", "", x).split('+'))

# select dataset regions with all isocortex
datasets = datasets[datasets['regions'].apply(lambda x: np.any([(region in isocortex) for region in x]))]
print(datasets.shape)
datasets
# .to_csv('/cndd/fangming/CEMBA/data/isocortex_datasets.txt', sep="\t", header=False, index=False)

(71, 8)

,dataset,date_online,brain_region,target_region,sex,description,code,regions
0,CEMBA_1A_180226,2018-07-09,MOs,None,M,None,1A,[MO]
1,CEMBA_1A_180227,2018-07-10,MOs,None,M,None,1A,[MO]
2,CEMBA_1B_180119,2018-05-02,ORB+FRP,None,M,None,1B,"[ORB, FRP]"
3,CEMBA_1B_180213,2018-05-02,ORB+FRP,None,M,None,1B,"[ORB, FRP]"
6,CEMBA_2A_180122,2019-02-15,ACA+PL+IL,None,M,None,2A,"[ACA, PL, IL]"
7,CEMBA_2A_180123,2019-02-15,ACA+PL+IL,None,M,None,2A,"[ACA, PL, IL]"
8,CEMBA_2B_180305,2018-08-10,MOs,None,M,None,2B,[MO]
9,CEMBA_2B_180306,2018-08-10,MOs,None,M,None,2B,[MO]
10,CEMBA_2C_180409,2019-02-16,MOp,None,M,None,2C,[MO]
11,CEMBA_2C_180410,2019-02-16,MOp,None,M,None,2C,[MO]
17,CEMBA_3A_180129,2018-04-13,ACA+ILA+PL,None,M,None,3A,"[ACA, ILA, PL]"
18,CEMBA_3A_180130,2018-04-14,ACA+ILA+PL,None,M,None,3A,"[ACA, ILA, PL]"
19,CEMBA_3B_180312,2019-02-16,MOs,None,M,None,3B,[MO]
20,CEMBA_3B_180501,2019-02-16,MOs,None,M,None,3B,[MO]
21,CEMBA_3C_171206,2018-04-03,MOp,None,M,None,3C,[MO]
22,CEMBA_3C_171207,2018-04-03,MOp,None,M,None,3C,[MO]
23,CEMBA_3D_180412,2019-02-16,AI,None,M,None,3D,[AI]
24,CEMBA_3D_180416,2019-02-16,AI,None,M,None,3D,[AI]
30,CEMBA_4A_180205,2018-05-03,ACA,None,M,None,4A,[ACA]
31,CEMBA_4A_180206,2018-05-03,ACA,None,M,None,4A,[ACA]
32,CEMBA_4B_171212,2018-04-03,MOp,None,M,None,4B,[MO]
33,CEMBA_4B_171213,2018-04-03,MOp,None,M,None,4B,[MO]
34,CEMBA_4B_180104,2018-04-03,MOp,None,M,None,4B,[MO]
35,CEMBA_4C_180417,2018-08-15,SSp,None,M,None,4C,[SS]
36,CEMBA_4C_180419,2018-08-16,SSp,None,M,None,4C,[SS]
43,CEMBA_5B_180514,2019-02-16,SSp,None,M,None,5B,[SS]
44,CEMBA_5B_180529,2019-02-16,SSp,None,M,None,5B,[SS]
45,CEMBA_5D_180605,2019-02-16,MOp,None,M,None,5D,[MO]
46,CEMBA_5D_180612,2019-02-17,MOp,None,M,None,5D,[MO]
47,CEMBA_7B_180423,2019-02-17,SSp,None,M,None,7B,[SS]
...,...,...,...,...,...,...,...,...
59,CEMBA_RS2_Pf4A,2019-02-26,ACA,STR,F,None,RS2,[ACA]
60,CEMBA_RS2_Pf4B,2018-04-04,MOp,STR,F,None,RS2,[MO]
61,CEMBA_RS2_Pf5A,2019-02-26,ACA,STR,F,None,RS2,[ACA]
62,CEMBA_RS2_Pf6B,2019-02-26,SSp,STR,F,None,RS2,[SS]
63,CEMBA_RS2_Pf7B,2019-02-26,SSp,STR,F,None,RS2,[SS]
64,CEMBA_RS2_Pf9A,2019-02-27,RSP,STR,F,None,RS2,[RSP]
65,CEMBA_RS2_Pf9B,2019-02-27,VISam+VISa+VISd,STR,F,None,RS2,"[VIS, VIS, VIS]"
66,CEMBA_RS2_Pf9D,2019-02-27,AUDp+AUDv,STR,F,None,RS2,"[AUD, AUD]"
67,CEMBA_RS2_Pm10A,2019-02-27,RSP,STR,M,None,RS2,[RSP]
68,CEMBA_RS2_Pm10C,2019-02-27,(AUDd+AUDpo+AUDp+AUD,STR,M,None,RS2,"[(AUD, AUD, AUD, AUD]"
69,CEMBA_RS2_Pm11B,2019-02-27,VISp+VISI,STR,M,None,RS2,"[VIS, VISI]"
70,CEMBA_RS2_Pm12B,2019-02-27,VISp+VISl+VISli,STR,M,None,RS2,"[VIS, VIS, VIS]"
71,CEMBA_RS2_Pm3C,2018-04-04,MOp,STR,M,None,RS2,[MO]
72,CEMBA_RS2_Pm3D,2019-02-27,AI,STR,M,None,RS2,[AI]
73,CEMBA_RS2_Pm4A,2019-02-27,ACA,STR,M,None,RS2,[ACA]
74,CEMBA_RS2_Pm4B,2018-04-04,MOp,STR,M,None,RS2,[MO]
75,CEMBA_RS2_Pm5A,2019-02-27,ACA,STR,M,None,RS2,[ACA]
76,CEMBA_RS2_Pm6B,2019-02-27,SSp,STR,M,None,RS2,[SS]
77,CEMBA_RS2_Pm7B,2019-02-27,SSp,STR,M,None,RS2,[SS]
78,CEMBA_RS2_Pm9A,2019-02-27,RSP,STR,M,None,RS2,[RSP]
79,CEMBA_RS2_Pm9B,2019-02-27,VISam+VISa+VISd,STR,M,None,RS2,"[VIS, VIS, VIS]"
80,CEMBA_RS2_Pm9D,2019-02-27,AUDp+AUDv,STR,M,None,RS2,"[AUD, AUD]"
81,CEMBA_RS2_Tf3C,2018-04-04,MOp,SC,F,None,RS2,[MO]
82,CEMBA_RS2_Tf4B,2018-04-04,MOp,SC,F,None,RS2,[MO]
83,CEMBA_RS2_Tf6B,2018-04-04,SSp,SC,F,None,RS2,[SS]
84,CEMBA_RS2_Tf7B,2018-04-04,SSp,SC,F,None,RS2,[SS]
85,CEMBA_RS2_Tm3C,2018-04-04,MOp,SC,M,None,RS2,[MO]
86,CEMBA_RS2_Tm4B,2018-04-04,MOp,SC,M,None,RS2,[MO]
87,CEMBA_RS2_Tm6B,2018-04-04,SSp,SC,M,None,RS2,[SS]
88,CEMBA_RS2_Tm7B,2018-04-04,SSp,SC,M,None,RS2,[SS]

In [18]:
sql = """SELECT * FROM ensembles 
"""
ens = pd.read_sql(sql, engine)
# ens['code'] = ens['dataset'].apply(lambda x: x.split('_')[1])
print(ens.shape)
ens.head()
# ens.loc[ens['code'].isin(res['code'].values), 'dataset'].to_csv('/cndd/fangming/CEMBA/data/isocortex_ens.txt', sep="\t", header=False, index=False)

(123, 6)

,ensemble_id,ensemble_name,public_access,datasets,description,multimodal
0,0,CEMBA_SCI_2017,0,CEMBA_SCI_2017,None,F
1,1,CEMBA_3C_171206,0,CEMBA_3C_171206,None,F
2,2,CEMBA_3C_171207,0,CEMBA_3C_171207,None,F
3,3,CEMBA_4B_171212,0,CEMBA_4B_171212,None,F
4,4,CEMBA_4B_171213,0,CEMBA_4B_171213,None,F

In [21]:
_x = pd.merge(datasets, ens, left_on='dataset', right_on='datasets')[['dataset', 'ensemble_id']]
_x.to_csv('/cndd/fangming/CEMBA/data/isocortex_ens.txt', sep="\t", header=False, index=False)

In [20]:
_x

            dataset  ensemble_id
0   CEMBA_1A_180226           52
1   CEMBA_1A_180227           53
2   CEMBA_1B_180119           39
3   CEMBA_1B_180213           40
4   CEMBA_2A_180122           77
5   CEMBA_2A_180123           78
6   CEMBA_2B_180305           64
7   CEMBA_2B_180306           65
8   CEMBA_2C_180409          112
9   CEMBA_2C_180410          113
10  CEMBA_3A_180129           33
11  CEMBA_3A_180130           34
12  CEMBA_3B_180312           83
13  CEMBA_3B_180501          114
14  CEMBA_3C_171206            1
15  CEMBA_3C_171207            2
16  CEMBA_3D_180412           84
17  CEMBA_3D_180416           85
18  CEMBA_4A_180205           45
19  CEMBA_4A_180206           46
20  CEMBA_4B_171212            3
21  CEMBA_4B_171213            4
22  CEMBA_4B_180104            8
23  CEMBA_4C_180417           71
24  CEMBA_4C_180419           72
25  CEMBA_5B_180514           96
26  CEMBA_5B_180529           97
27  CEMBA_5D_180605          102
28  CEMBA_5D_180612          103
29  CEMBA_7B_180423          115
..              ...          ...
41   CEMBA_RS2_Pf4A          129
42   CEMBA_RS2_Pf4B           18
43   CEMBA_RS2_Pf5A          130
44   CEMBA_RS2_Pf6B          131
45   CEMBA_RS2_Pf7B          132
46   CEMBA_RS2_Pf9A          133
47   CEMBA_RS2_Pf9B          134
48   CEMBA_RS2_Pf9D          135
49  CEMBA_RS2_Pm10A          136
50  CEMBA_RS2_Pm10C          137
51  CEMBA_RS2_Pm11B          138
52  CEMBA_RS2_Pm12B          139
53   CEMBA_RS2_Pm3C           19
54   CEMBA_RS2_Pm3D          140
55   CEMBA_RS2_Pm4A          141
56   CEMBA_RS2_Pm4B           20
57   CEMBA_RS2_Pm5A          142
58   CEMBA_RS2_Pm6B          143
59   CEMBA_RS2_Pm7B          144
60   CEMBA_RS2_Pm9A          145
61   CEMBA_RS2_Pm9B          146
62   CEMBA_RS2_Pm9D          147
63   CEMBA_RS2_Tf3C           21
64   CEMBA_RS2_Tf4B           22
65   CEMBA_RS2_Tf6B           23
66   CEMBA_RS2_Tf7B           24
67   CEMBA_RS2_Tm3C           25
68   CEMBA_RS2_Tm4B           26
69   CEMBA_RS2_Tm6B           27
70   CEMBA_RS2_Tm7B           28

[71 rows x 2 columns]

## All datasets

In [9]:
sql = """SELECT * FROM datasets 
"""
datasets = pd.read_sql(sql, engine)
datasets

sql = """SELECT * FROM ensembles 
"""
ens = pd.read_sql(sql, engine)
ens = ens.iloc[1:]
ens.head()

,ensemble_id,ensemble_name,public_access,datasets,description,multimodal
1,1,CEMBA_3C_171206,0,CEMBA_3C_171206,None,F
2,2,CEMBA_3C_171207,0,CEMBA_3C_171207,None,F
3,3,CEMBA_4B_171212,0,CEMBA_4B_171212,None,F
4,4,CEMBA_4B_171213,0,CEMBA_4B_171213,None,F
5,5,CEMBA_3C,0,"CEMBA_3C_171206,CEMBA_3C_171207",None,F

In [12]:
_x = pd.merge(datasets, ens, left_on='dataset', right_on='datasets')[['dataset', 'ensemble_id']]
_x.to_csv('/cndd/fangming/CEMBA/data/19q2_ens.txt', sep="\t", header=False, index=False)
print(_x.shape)
_x.head()

(89, 2)

           dataset  ensemble_id
0  CEMBA_1A_180226           52
1  CEMBA_1A_180227           53
2  CEMBA_1B_180119           39
3  CEMBA_1B_180213           40
4  CEMBA_1C_180208           54