In [1]:
from __init__ import *
from CEMBA_update_mysql import connect_sql

In [2]:
database = 'CEMBA'
engine = connect_sql(database)

In [6]:
sql = """SELECT * FROM ABA_regions 
"""
df = pd.read_sql(sql, engine)
print(df.shape)
df.head()

(118, 3)

  code  ABA_acronym                                    ABA_description
0   1A          MOs                               Secondary motor area
1   1B      ORB+FKP                                       Orbital area
2   1C  MOB+AOB+AON  Main olifactory bulb+Accessory olifactory bulb...
3   2A    ACA+PL+IL  Anterior cingulate area+Prelimbic area+Infrali...
4   2B          MOs                               Secondary motor area

In [8]:
df.to_csv(os.path.join(PATH_REFERENCES, 'Brain_regions', 'ABA_brain_regions.tsv'), sep='\t', na_rep='NA', header=True, index=False)

In [11]:
f = os.path.join(PATH_REFERENCES, 'Brain_regions', 'RS2_injection_regions.tsv')
df = pd.read_table(f)
df_new = df.drop(0)[['Code', 'Region name', 'Descriptive name', 'Corresponding dissected regions']]
df_new.head()

  Code Region name            Descriptive name Corresponding dissected regions
1    A         MOp          Primary motor area                   ,2C,3C,4B,5D,
2    B         SSp  Primary somatosensory area                ,4C,5B,6B,7B,8B,
3    C         ACA     Anterior cingulate area                ,2A,3A,4A,5A,6A,
4    D          AI      Agranular insular area                            ,3D,
5    E        AUDp        Dorsal auditory area                    ,9D,10C,11C,

In [12]:
df_new.to_csv(os.path.join(PATH_REFERENCES, 'Brain_regions', 'RS2_injection_regions.tsv'), 
              sep='\t', na_rep='NA', header=True, index=False)