In [4]:
import sqlalchemy as sa
import pandas as pd

from __init__ import *
from CEMBA_update_mysql import *

In [50]:
engine = connect_sql('CEMBA')
sql = """SELECT cell_name FROM cells WHERE dataset IN ('CEMBA_4B_171212', 'CEMBA_4B_171213')"""
# sql = """SELECT cell_name FROM cells WHERE dataset LIKE 'CEMBA%'"""
sql = """SELECT cell_name FROM cells WHERE dataset LIKE 'CEMBA_4B_%'"""
print(sql)

# python needs "%%" to recognize "%" as pure percent sign
sql = sql.replace("%", "%%")

SELECT cell_name FROM cells WHERE dataset LIKE 'CEMBA_4B_%'

In [57]:
df = pd.read_sql(sql, engine) 
print(df.shape)
df.head()

(1557, 1)

                                           cell_name
0  171219_CEMBA_mm_P56_P63_4B_CEMBA171212_4B_3_CE...
1  171219_CEMBA_mm_P56_P63_4B_CEMBA171212_4B_3_CE...
2  171219_CEMBA_mm_P56_P63_4B_CEMBA171212_4B_1_CE...
3  171219_CEMBA_mm_P56_P63_4B_CEMBA171212_4B_3_CE...
4  171219_CEMBA_mm_P56_P63_4B_CEMBA171212_4B_1_CE...

In [59]:
sql = '''SELECT * FROM genes WHERE chr="chrY"'''
df = pd.read_sql(sql, engine)
print(df.shape)
df.head()

(1570, 7)

,gene_id,gene_name,chr,start,end,strand,gene_type
0,ENSMUSG00000000103.12,Zfy2,chrY,2106015,2170409,-,protein_coding
1,ENSMUSG00000053211.10,Zfy1,chrY,725128,797409,-,protein_coding
2,ENSMUSG00000056673.14,Kdm5d,chrY,897788,956786,+,protein_coding
3,ENSMUSG00000068457.14,Uty,chrY,1096861,1245759,-,protein_coding
4,ENSMUSG00000069036.3,Sry,chrY,2662471,2663658,-,protein_coding

In [1]:
import dash
import dash_core_components as dcc
import dash_html_components as html

app = dash.Dash()

app.layout = html.Div(children=[
    html.H1(children='Hello Dash'),

    html.Div(children='''
        Dash: A web application framework for Python.
    '''),

    dcc.Graph(
        id='example-graph',
        figure={
            'data': [
                {'x': [1, 2, 3], 'y': [4, 1, 2], 'type': 'bar', 'name': 'SF'},
                {'x': [1, 2, 3], 'y': [2, 4, 5], 'type': 'bar', 'name': u'Montr√©al'},
            ],
            'layout': {
                'title': 'Dash Data Visualization'
            }
        }
    )
])

if __name__ == '__main__':
    app.run_server(debug=True)

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
 * Restarting with stat

SystemExit: 1

/cndd/fangming/venvs/venv_dobro_snmcseq/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2870: UserWarning:

To exit: use 'exit', 'quit', or Ctrl-D.