In [96]:
import pandas as pd
import numpy as np
import logging
import os

from __init__ import *
from snmcseq_utils import create_logger

In [97]:
# summarize mouse published
meta_path = os.path.join(PATH_REFERENCES, 'Mouse_published/summary_mouse_published.tsv')
genes_path = '/cndd/Public_Datasets/single_cell_methylome/gene_level/mouse/combined_sample_mCH_genebody.txt' 
bins_path = '/cndd/Public_Datasets/single_cell_methylome/binc/mouse_combined_samples_CH_100000.tsv'

In [16]:
df_meta = pd.read_table(meta_path, index_col='Sample') 
print(df_meta.shape)
df_meta.head()

(3377, 31)

,Animal age,FACS date,Brain area,Laminar layer,Labeling,FACS channel,FACS count,Bisulfite conversion method,Library type,Library pool,...,% Filtered reads,mCCC/CCC,mCG/CG,mCH/CH,Estimated mCG/CG,Estimated mCH/CH,Coverage (%),Neuron type,tSNE x coordinate,tSNE y coordinate
Sample,,,,,,,,,,,,,,,,,,,,,
nuclei_261,8wk,1/22/2016,Frontal Cortex,All,Anti-NeuN/G35-Cre,488+/647+,1,Zymo EZ-96 direct,snmC-seq,20160217 pool A,...,64.80%,0.00592,0.73637,0.02569,0.73480,0.01989,3.36,mL2/3,-13.73990,-1.18793
nuclei_262,8wk,1/22/2016,Frontal Cortex,All,Anti-NeuN/G35-Cre,488+/647+,1,Zymo EZ-96 direct,snmC-seq,20160217 pool A,...,67.30%,0.00559,0.77314,0.02280,0.77186,0.01731,2.23,mL4,-4.77540,-2.16424
nuclei_263,8wk,1/22/2016,Frontal Cortex,All,Anti-NeuN/G35-Cre,488+/647+,1,Zymo EZ-96 direct,snmC-seq,20160217 pool A,...,66.00%,0.00545,0.76031,0.02082,0.75900,0.01545,2.87,mDL-1,-4.60610,-2.50029
nuclei_264,8wk,1/22/2016,Frontal Cortex,All,Anti-NeuN/G35-Cre,488+/647+,1,Zymo EZ-96 direct,snmC-seq,20160217 pool A,...,67.00%,0.00550,0.75247,0.02180,0.75110,0.01639,2.37,mL4,-5.77436,-5.90332
nuclei_265,8wk,1/22/2016,Frontal Cortex,All,Anti-NeuN/G35-Cre,488+/647+,1,Zymo EZ-96 direct,snmC-seq,20160217 pool A,...,66.50%,0.00481,0.74054,0.01644,0.73929,0.01169,2.78,mL4,-6.91899,-10.96330

In [57]:
bmcc = pd.read_table(bins_path, 
                    index_col=['chr', 'bin'], dtype={'chr': object, 'bin': int}
                    )
print(bmcc.shape)
bmcc.head()

(26330, 8068)

            nuclei-261_S1_L001_mc  nuclei-261_S1_L001_c  \
chr bin
1   0                           0                     0
    100000                      0                     0
    200000                      0                     0
    300000                      0                     0
    400000                      0                     0

            nuclei-262_S2_L001_mc  nuclei-262_S2_L001_c  \
chr bin
1   0                           0                     0
    100000                      0                     0
    200000                      0                     0
    300000                      0                     0
    400000                      0                     0

            nuclei-263_S3_L001_mc  nuclei-263_S3_L001_c  \
chr bin
1   0                           0                     0
    100000                      0                     0
    200000                      0                     0
    300000                      0                     0
    400000                      0                     0

            nuclei-264_S4_L001_mc  nuclei-264_S4_L001_c  \
chr bin
1   0                           0                     0
    100000                      0                     0
    200000                      0                     0
    300000                      0                     0
    400000                      0                     0

            nuclei-265_S5_L001_mc  nuclei-265_S5_L001_c  \
chr bin
1   0                           0                     0
    100000                      0                     0
    200000                      0                     0
    300000                      0                     0
    400000                      0                     0

                     ...            Pool_999_AD006_indexed_mc  \
chr bin              ...
1   0                ...                                    0
    100000           ...                                    0
    200000           ...                                    0
    300000           ...                                    0
    400000           ...                                    0

            Pool_999_AD006_indexed_c  Pool_99_AD002_indexed_mc  \
chr bin
1   0                              0                         0
    100000                         0                         0
    200000                         0                         0
    300000                         0                         0
    400000                         0                         0

            Pool_99_AD002_indexed_c  Pool_99_AD006_indexed_mc  \
chr bin
1   0                             0                         0
    100000                        0                         0
    200000                        0                         0
    300000                        0                         0
    400000                        0                         0

            Pool_99_AD006_indexed_c  Pool_9_AD002_indexed_mc  \
chr bin
1   0                             0                        0
    100000                        0                        0
    200000                        0                        0
    300000                        0                        0
    400000                        0                        0

            Pool_9_AD002_indexed_c  Pool_9_AD006_indexed_mc  \
chr bin
1   0                            0                        0
    100000                       0                        0
    200000                       0                        0
    300000                       0                        0
    400000                       0                        0

            Pool_9_AD006_indexed_c
chr bin
1   0                            0
    100000                       0
    200000                       0
    300000                       0
    400000                       0

[5 rows x 8068 columns]

In [66]:
df_c = bmcc.filter(regex='_c$')
df_mc = bmcc.filter(regex='_mc$')
print(df_c.shape)
print(df_mc.shape)

(26330, 4034)
(26330, 4034)

In [67]:
# new_cols = []
# for col in df_c.columns:
#     if col.startswith('nuclei'):
#         new_col = '_'.join([col.split('_')[0], col.split('_')[-1]])
#     else:
#         new_col = col
#     new_cols.append(new_col)
                           
# bmcc.columns = new_cols
# bmcc.head()
                 
df_c.columns = [col[:len('nuclei-xxx')] if col.startswith('nuclei') else col for col in df_c.columns]
df_mc.columns = [col[:len('nuclei-xxx')] if col.startswith('nuclei') else col for col in df_mc.columns]
df_c.columns = ['_'.join(col.split('-')) for col in df_c.columns]
df_mc.columns = ['_'.join(col.split('-')) for col in df_mc.columns]
df_c.columns = [col+'_c' if col.startswith('nuclei') else col for col in df_c.columns]
df_mc.columns = [col+'_mc' if col.startswith('nuclei') else col for col in df_mc.columns]

In [68]:
df_c.head()

            nuclei_261_c  nuclei_262_c  nuclei_263_c  nuclei_264_c  \
chr bin
1   0                  0             0             0             0
    100000             0             0             0             0
    200000             0             0             0             0
    300000             0             0             0             0
    400000             0             0             0             0

            nuclei_265_c  nuclei_266_c  nuclei_267_c  nuclei_268_c  \
chr bin
1   0                  0             0             0             0
    100000             0             0             0             0
    200000             0             0             0             0
    300000             0             0             0             0
    400000             0             0             0             0

            nuclei_269_c  nuclei_270_c           ...            \
chr bin                                          ...
1   0                  0             0           ...
    100000             0             0           ...
    200000             0             0           ...
    300000             0             0           ...
    400000             0             0           ...

            Pool_997_AD002_indexed_c  Pool_997_AD006_indexed_c  \
chr bin
1   0                              0                         0
    100000                         0                         0
    200000                         0                         0
    300000                         0                         0
    400000                         0                         0

            Pool_998_AD002_indexed_c  Pool_998_AD006_indexed_c  \
chr bin
1   0                              0                         0
    100000                         0                         0
    200000                         0                         0
    300000                         0                         0
    400000                         0                         0

            Pool_999_AD002_indexed_c  Pool_999_AD006_indexed_c  \
chr bin
1   0                              0                         0
    100000                         0                         0
    200000                         0                         0
    300000                         0                         0
    400000                         0                         0

            Pool_99_AD002_indexed_c  Pool_99_AD006_indexed_c  \
chr bin
1   0                             0                        0
    100000                        0                        0
    200000                        0                        0
    300000                        0                        0
    400000                        0                        0

            Pool_9_AD002_indexed_c  Pool_9_AD006_indexed_c
chr bin
1   0                            0                       0
    100000                       0                       0
    200000                       0                       0
    300000                       0                       0
    400000                       0                       0

[5 rows x 4034 columns]

In [69]:
df_mc.head()

            nuclei_261_mc  nuclei_262_mc  nuclei_263_mc  nuclei_264_mc  \
chr bin
1   0                   0              0              0              0
    100000              0              0              0              0
    200000              0              0              0              0
    300000              0              0              0              0
    400000              0              0              0              0

            nuclei_265_mc  nuclei_266_mc  nuclei_267_mc  nuclei_268_mc  \
chr bin
1   0                   0              0              0              0
    100000              0              0              0              0
    200000              0              0              0              0
    300000              0              0              0              0
    400000              0              0              0              0

            nuclei_269_mc  nuclei_270_mc           ...             \
chr bin                                            ...
1   0                   0              0           ...
    100000              0              0           ...
    200000              0              0           ...
    300000              0              0           ...
    400000              0              0           ...

            Pool_997_AD002_indexed_mc  Pool_997_AD006_indexed_mc  \
chr bin
1   0                               0                          0
    100000                          0                          0
    200000                          0                          0
    300000                          0                          0
    400000                          0                          0

            Pool_998_AD002_indexed_mc  Pool_998_AD006_indexed_mc  \
chr bin
1   0                               0                          0
    100000                          0                          0
    200000                          0                          0
    300000                          0                          0
    400000                          0                          0

            Pool_999_AD002_indexed_mc  Pool_999_AD006_indexed_mc  \
chr bin
1   0                               0                          0
    100000                          0                          0
    200000                          0                          0
    300000                          0                          0
    400000                          0                          0

            Pool_99_AD002_indexed_mc  Pool_99_AD006_indexed_mc  \
chr bin
1   0                              0                         0
    100000                         0                         0
    200000                         0                         0
    300000                         0                         0
    400000                         0                         0

            Pool_9_AD002_indexed_mc  Pool_9_AD006_indexed_mc
chr bin
1   0                             0                        0
    100000                        0                        0
    200000                        0                        0
    300000                        0                        0
    400000                        0                        0

[5 rows x 4034 columns]

In [71]:
df_c.columns
df_cluster_mc_c = pd.DataFrame() 
for label, df_sub in df_meta.groupby('Neuron type'):
    samples = df_sub.index.values
    df_cluster_mc_c[label+'_mc'] = df_mc[samples+'_mc'].sum(axis=1)
    df_cluster_mc_c[label+'_c'] = df_c[samples+'_c'].sum(axis=1)
    
print(df_cluster_mc_c.shape)
print(df_cluster_mc_c.head())

(26330, 32)
            mDL-1_mc  mDL-1_c  mDL-2_mc  mDL-2_c  mDL-3_mc  mDL-3_c  mIn-1_mc  \
chr bin
1   0              0        0         0        0         0        0         0
    100000         0        0         0        0         0        0         0
    200000         0        0         0        0         0        0         0
    300000         0        0         0        0         0        0         0
    400000         0        0         0        0         0        0         0

            mIn-1_c  mL2/3_mc  mL2/3_c   ...    mNdnf-2_mc  mNdnf-2_c  mPv_mc  \
chr bin                                  ...
1   0             0         0        0   ...             0          0       0
    100000        0         0        0   ...             0          0       0
    200000        0         0        0   ...             0          0       0
    300000        0         0        0   ...             0          0       0
    400000        0         0        0   ...             0          0       0

            mPv_c  mSst-1_mc  mSst-1_c  mSst-2_mc  mSst-2_c  mVip_mc  mVip_c
chr bin
1   0           0          0         0          0         0        0       0
    100000      0          0         0          0         0        0       0
    200000      0          0         0          0         0        0       0
    300000      0          0         0          0         0        0       0
    400000      0          0         0          0         0        0       0

[5 rows x 32 columns]

In [76]:
print(df_cluster_mc_c.shape)
print(df_cluster_mc_c.tail())

(26330, 32)
               mDL-1_mc  mDL-1_c  mDL-2_mc  mDL-2_c  mDL-3_mc  mDL-3_c  \
chr bin
X   170500000         0        0         0        0         0        0
    170600000        64     9916       170    25529        39     5950
    170700000       128    27358       319    65873        75    15650
    170800000       442    71320      1838   166378       296    41077
    170900000         0        0         0        0         0        0

               mIn-1_mc  mIn-1_c  mL2/3_mc  mL2/3_c   ...    mNdnf-2_mc  \
chr bin                                               ...
X   170500000         0        0         0        0   ...             0
    170600000        19     3596       275    57286   ...            43
    170700000        42    10410       651   144719   ...           112
    170800000       131    29929      2019   385133   ...           248
    170900000         0        0         0        0   ...             0

               mNdnf-2_c  mPv_mc  mPv_c  mSst-1_mc  mSst-1_c  mSst-2_mc  \
chr bin
X   170500000          0       0      0          0         0          0
    170600000       7994      80  12497         62      9329         11
    170700000      19125     242  33986        184     27709         73
    170800000      44960     695  90643        497     65965        295
    170900000          0       0      0          0         0          0

               mSst-2_c  mVip_mc  mVip_c
chr bin
X   170500000         0        0       0
    170600000      2609       33    7239
    170700000      6282      102   17092
    170800000     15556      254   43958
    170900000         0        0       0

[5 rows x 32 columns]

In [81]:
from CEMBA_init_singleton_ensemble import merge_bins
df_out = merge_bins(df_cluster_mc_c.reset_index(), bin_size=100000, double_xsize=True, output_file=None)
print(df_out.shape)

(25475, 34)

In [87]:
df_out = df_out.set_index(['chr', 'bin'])
df_out.tail()

               mDL-1_mc  mDL-1_c  mDL-2_mc  mDL-2_c  mDL-3_mc  mDL-3_c  \
chr bin
X   170000000       122    19032       276    43808        91    11918
    170200000         0        0         0        0         0        0
    170400000         0        0         0        0         0        0
    170600000       192    37274       489    91402       114    21600
    170800000       442    71320      1838   166378       296    41077

               mIn-1_mc  mIn-1_c  mL2/3_mc  mL2/3_c   ...    mNdnf-2_mc  \
chr bin                                               ...
X   170000000        47     8434       639   102505   ...            64
    170200000         0        0         0        0   ...             0
    170400000         0        0         0        0   ...             0
    170600000        61    14006       926   202005   ...           155
    170800000       131    29929      2019   385133   ...           248

               mNdnf-2_c  mPv_mc  mPv_c  mSst-1_mc  mSst-1_c  mSst-2_mc  \
chr bin
X   170000000      12118     163  26838        106     18540         60
    170200000          0       0      0          0         0          0
    170400000          0       0      0          0         0          0
    170600000      27119     322  46483        246     37038         84
    170800000      44960     695  90643        497     65965        295

               mSst-2_c  mVip_mc  mVip_c
chr bin
X   170000000      4715       81   13695
    170200000         0        0       0
    170400000         0        0       0
    170600000      8891      135   24331
    170800000     15556      254   43958

[5 rows x 32 columns]

In [88]:
df = df_out
cov = (df.filter(regex='_c$').apply(np.log10)>3)*1
gene_cov = cov.apply(np.all, axis=1)
df_filtered = df.loc[gene_cov, :]
print(df_filtered.shape)

(24751, 32)

In [89]:
df_mc = df_filtered.filter(regex='_mc$')
df_c = df_filtered.filter(regex='_c$')
df_mc.columns = [col[:-len('_mc')] for col in df_mc.columns]
df_c.columns = [col[:-len('_c')] for col in df_c.columns]
df_mcc = df_mc/df_c
df_mcc.columns = [col+'_mcc' for col in df_mcc.columns]
print(df_mcc.shape)
df_mcc.tail()

(24751, 16)

               mDL-1_mcc  mDL-2_mcc  mDL-3_mcc  mIn-1_mcc  mL2/3_mcc  \
chr bin
X   169600000   0.023324   0.025211   0.026461   0.026373   0.027251
    169800000   0.025937   0.027420   0.026472   0.024031   0.024268
    170000000   0.006410   0.006300   0.007636   0.005573   0.006234
    170600000   0.005151   0.005350   0.005278   0.004355   0.004584
    170800000   0.006197   0.011047   0.007206   0.004377   0.005242

                mL4_mcc  mL5-1_mcc  mL5-2_mcc  mL6-1_mcc  mL6-2_mcc  \
chr bin
X   169600000  0.022283   0.027863   0.030913   0.027601   0.025671
    169800000  0.022017   0.031200   0.032562   0.024686   0.025538
    170000000  0.005589   0.006121   0.006740   0.008331   0.007182
    170600000  0.004204   0.005198   0.005035   0.004701   0.005649
    170800000  0.004978   0.005083   0.006200   0.004946   0.005524

               mNdnf-1_mcc  mNdnf-2_mcc   mPv_mcc  mSst-1_mcc  mSst-2_mcc  \
chr bin
X   169600000     0.025161     0.020160  0.036249    0.032777    0.045435
    169800000     0.027369     0.020959  0.034900    0.031824    0.044476
    170000000     0.009687     0.005281  0.006073    0.005717    0.012725
    170600000     0.005921     0.005716  0.006927    0.006642    0.009448
    170800000     0.007501     0.005516  0.007667    0.007534    0.018964

               mVip_mcc
chr bin
X   169600000  0.034786
    169800000  0.033022
    170000000  0.005915
    170600000  0.005548
    170800000  0.005778

In [94]:
output_f = os.path.join(PATH_REFERENCES, 'Mouse_published/binc_mCH_100000_clusterwise_mcc_mouse_published.tsv')
df_mcc.to_csv(output_f, na_rep='NA', header=True, index=True, sep='\t')