In [55]:
from __init__ import *
from CEMBA_update_mysql import connect_sql

In [62]:
ens = 'Ens1'
cluster_type = 'cluster_mCHmCG_lv_npc50_k30'
annotation_type = 'annotation' + cluster_type[len('cluster'):]
engine = connect_sql('CEMBA')

# cluster annotation
sql = """SELECT {}, {} FROM {}""".format(cluster_type, annotation_type, ens)
df_info = pd.read_sql(sql, engine)
df_info = df_info.sort_values(cluster_type).drop_duplicates().set_index(cluster_type)

ens_path = os.path.join(PATH_ENSEMBLES, ens)
n_clusters = len(glob.glob(os.path.join(ens_path, 'allc_merged/allc_merged_mCG_{}_*_{}.tsv'.format(cluster_type, ens))))

# dmr results
input_f = os.path.join(ens_path, 'dmr/dmr_allc_merged_mCG_{}_rms_results_collapsed.tsv'.format(cluster_type))
df = pd.read_table(input_f, index_col=['#chr', 'start', 'end'], dtype={'#chr': object})

In [104]:
def dmr_counts(ens, n_clusters, cluster_type, keys=['hypomethylated_samples', 'hypermethylated_samples']):
    """
    cluster_type examples:
    cluster_type = 'cluster_mCHmCG_lv_npc50_k30'
    
    """
    res_out = []
    for key in keys:
        res_key = []
        res = df.loc[~df[key].isnull(), key].apply(lambda x: x.split(','))
        for i in range(n_clusters):
            res_cluster = res.loc[
                res.apply(lambda x: ('merged_mCG_{}_{}_{}'.format(cluster_type, i+1, ens) in x))]
            res_key.append({cluster_type: i+1, 'n_dmr_{}'.format(key[:4]): res_cluster.shape[0]})
        res_key = pd.DataFrame(res_key).set_index(cluster_type)
        res_out.append(res_key)
    return pd.concat(res_out, axis=1)

In [110]:
df_ndmr = dmr_counts(ens, n_clusters, cluster_type)
df_ndmr = pd.merge(df_info, df_ndmr, left_index=True, right_index=True)

In [111]:
df_ndmr

,annotation_mCHmCG_lv_npc50_k30,n_dmr_hypo,n_dmr_hype
cluster_mCHmCG_lv_npc50_k30,,,
1,mL4,41566,6619
2,mL2/3,57687,5425
3,mL2/3,32924,1547
4,mL5-1,16510,1874
5,mL6-2,29221,5771
6,mL6-2,16245,11477
7,mDL-1,4485,832
8,mDL-2,3014,1510
9,None,38334,54668
10,mL5-1,9648,705
11,mL5-2,4974,1381
12,mL6-2,5043,1153
13,mSst-1,4098,19908
14,mPv,5480,18787
15,mNdnf-2,9757,13559
16,None,9622,15425
17,mL6-1,355,3611