In [1]:
from __init__ import *
from snmcseq_utils import cd
from snmcseq_utils import create_logger
from CEMBA_update_mysql import connect_sql

In [2]:
log = create_logger()
log.info("Hello")

04/16/2018 11:55:14 AM Hello

In [3]:
ens = 'Ens0'
cluster_type = 'mCH_npc50_k30_merged'
# annotation_type = 'annotation' + cluster_type[len('cluster'):]
# engine = connect_sql('CEMBA')

# cluster annotation
# sql = """SELECT {}, {} FROM {}""".format(cluster_type, annotation_type, ens)
# df_info = pd.read_sql(sql, engine)
# df_info = df_info.sort_values(cluster_type).drop_duplicates().set_index(cluster_type)

ens_path = os.path.join(PATH_ENSEMBLES, ens)
n_clusters = len(glob.glob(os.path.join(ens_path, 'allc_merged/allc_merged_mCG_{}_*_{}.tsv'.format(cluster_type, ens))))

# dmr results
input_f = os.path.join(ens_path, 'dmr/dmr_allc_merged_mCG_{}_rms_results_collapsed.tsv'.format(cluster_type))
df = pd.read_table(input_f, index_col=['#chr', 'start', 'end'], dtype={'#chr': object})

/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.4/site-packages/numpy/lib/arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [7]:
key = 'hypomethylated_samples'
num_dms = 20 
res = df.loc[(~df[key].isnull()) & (df['number_of_dms'] >= num_dms), :].copy()
res['name'] = np.arange(res.shape[0]) 
print(res.shape)

# with cd(os.path.join(PATH_ENSEMBLES, ens, 'dmr')):
#     res[['name', 'number_of_dms']].to_csv('dmr_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_rms_results_collapsed_{}dms.tsv.DMR.bed'.format(num_dms),
#                                      sep='\t', na_rep='NA', header=False, index=True)

(60966, 30)

In [9]:
def dmr_counts(ens, n_clusters, cluster_type, df, num_dms=3, keys=['hypomethylated_samples', 'hypermethylated_samples']):
    """
    cluster_type examples:
    cluster_type = 'cluster_mCHmCG_lv_npc50_k30'
    
    """
    res_out = []
    for key in keys:
        res_key = []
        res = df.loc[(~df[key].isnull()) & (df['number_of_dms'] >= num_dms), key].apply(lambda x: x.split(','))
        for i in range(n_clusters):
            res_cluster = res.loc[
                res.apply(lambda x: ('merged_mCG_{}_{}_{}'.format(cluster_type, i+1, ens) in x))]
            res_key.append({cluster_type: i+1, 'n_dmr_{}'.format(key[:4]): res_cluster.shape[0]})
        res_key = pd.DataFrame(res_key).set_index(cluster_type)
        res_out.append(res_key)
    return pd.concat(res_out, axis=1)

In [10]:
df_ndmr = dmr_counts(ens, n_clusters, cluster_type, df, num_dms=20)
df_ndmr = pd.merge(df_info, df_ndmr, left_index=True, right_index=True)

In [11]:
df_ndmr

,annotation_mCHmCG_lv_npc50_k30,n_dmr_hypo,n_dmr_hype
cluster_mCHmCG_lv_npc50_k30,,,
1,mL4,27682,10068
2,mL2/3,31139,10067
3,mL2/3,30662,5573
4,mL5-1,19799,7061
5,mL6-2,21527,13656
6,mL5-1,18382,4337
7,mDL-2,10904,3393
8,mDL-2,9609,6185
9,mSst-1,7320,33769
10,mL5-2,13916,6208
11,mPv,11319,32667
12,mL6-2,14551,4827
13,mL6-2,11466,11987
14,mL6-2,11696,6011
15,mVip,9202,30669
16,mL6-1,3441,27783
17,mNdnf-2,14997,19278
18,None,12463,32748
19,mL4,4366,7399
20,mL6-2,8429,4087
21,None,10664,29811
22,mL6-2,2245,11985
23,None,11291,23704
24,mPv,6061,17171
25,mSst-1,3161,8974
26,mDL-3,1455,1368

In [41]:
print(df.shape)
df_hypo = df.loc[(df['number_of_dms']>=3) & (~df['hypomethylated_samples'].isnull()), 'hypomethylated_samples'].apply(lambda x: x.split(','))
df_hyper = df.loc[(df['number_of_dms']>=3) & (~df['hypermethylated_samples'].isnull()), 'hypermethylated_samples'].apply(lambda x: x.split(','))

print(df_hypo.shape)
print(df_hyper.shape)

(392153, 20)
(60718,)
(44613,)

In [42]:
df_hypo.head()

#chr  start    end
1     3391591  3391804      [merged_mCG_cluster_mCHmCG_lv_npc50_k30_1_Ens1]
      3498321  3498399    [merged_mCG_cluster_mCHmCG_lv_npc50_k30_5_Ens1...
      3637646  3637688      [merged_mCG_cluster_mCHmCG_lv_npc50_k30_4_Ens1]
      4471128  4471240      [merged_mCG_cluster_mCHmCG_lv_npc50_k30_2_Ens1]
      4688593  4688647    [merged_mCG_cluster_mCHmCG_lv_npc50_k30_4_Ens1...
Name: hypomethylated_samples, dtype: object

In [45]:
if not os.path.isdir('/scratch/dmr'):
    os.makedirs('/scratch/dmr')
    logging.info('Created directory: /scratch/dmr')
    
for i in range(n_clusters):
    df_hypo_cluster = df_hypo.loc[
        df_hypo.apply(lambda x: ('merged_mCG_{}_{}_{}'.format(cluster_type, i+1, ens) in x))]
    output = os.path.join('/scratch/dmr', 'dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst{}.bed'.format(i+1))
    df_hypo_cluster.to_csv(output, sep='\t', header=False, index=True, na_rep='NA')
    logging.info("Saved to {}".format(output))
    logging.info(df_hypo_cluster.shape)

03/04/2018 08:24:43 PM Created directory: /scratch/dmr
03/04/2018 08:24:43 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst1.bed
03/04/2018 08:24:43 PM (16977,)
03/04/2018 08:24:44 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst2.bed
03/04/2018 08:24:44 PM (19580,)
03/04/2018 08:24:45 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst3.bed
03/04/2018 08:24:45 PM (14284,)
03/04/2018 08:24:45 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst4.bed
03/04/2018 08:24:45 PM (6308,)
03/04/2018 08:24:46 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst5.bed
03/04/2018 08:24:46 PM (11274,)
03/04/2018 08:24:46 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst6.bed
03/04/2018 08:24:46 PM (7308,)
03/04/2018 08:24:47 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst7.bed
03/04/2018 08:24:47 PM (1767,)
03/04/2018 08:24:47 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst8.bed
03/04/2018 08:24:47 PM (1092,)
03/04/2018 08:24:48 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst9.bed
03/04/2018 08:24:48 PM (4416,)
03/04/2018 08:24:48 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst10.bed
03/04/2018 08:24:48 PM (3922,)
03/04/2018 08:24:49 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst11.bed
03/04/2018 08:24:49 PM (1460,)
03/04/2018 08:24:49 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst12.bed
03/04/2018 08:24:49 PM (2591,)
03/04/2018 08:24:50 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst13.bed
03/04/2018 08:24:50 PM (1073,)
03/04/2018 08:24:50 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst14.bed
03/04/2018 08:24:50 PM (1432,)
03/04/2018 08:24:51 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst15.bed
03/04/2018 08:24:51 PM (2321,)
03/04/2018 08:24:52 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst16.bed
03/04/2018 08:24:52 PM (1651,)
03/04/2018 08:24:52 PM Saved to /scratch/dmr/dmr_hypo_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_clst17.bed
03/04/2018 08:24:52 PM (115,)

In [21]:
with cd(os.path.join(PATH_ENSEMBLES, ens, 'dmr')):
    f = 'dmr_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_rms_results_collapsed.tsv.DMR.bed'
    df_bed = pd.read_table(f, header=None, names=['chr', 'start', 'end', 'num_dms'])
print(df_bed.shape)
df_bed.head()

(1162175, 4)

    chr    start      end  num_dms
0  chr1  3013472  3013473        1
1  chr1  3023074  3023075        1
2  chr1  3027397  3027398        1
3  chr1  3034471  3034472        1
4  chr1  3044312  3044403        3

In [23]:
df_out = df_bed[df_bed['num_dms']>=20]
with cd(os.path.join(PATH_ENSEMBLES, ens, 'dmr')):
    df_out.to_csv('dmr_allc_merged_mCG_cluster_mCHmCG_lv_npc50_k30_rms_results_collapsed_20dms.tsv.DMR.bed', 
                 sep='\t', na_rep='NA', header=False, index=False)