In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import time
import os
import logging
import glob

from __init__ import *
import snmcseq_utils 
from snmcseq_utils import create_logger

In [24]:
dataset = 'CEMBA_3C_171206'
dataset_path = os.path.join(PATH_DATASETS, dataset)
allc_paths = sorted(glob.glob(os.path.join(dataset_path, 'allc/allc_*.bgz')))

In [25]:
print(dataset_path)

/cndd/Public_Datasets/CEMBA/snmCSeq/Datasets/CEMBA_3C_171206

In [26]:
os.path.join(dataset_path, 'allc/allc_*.bgz')

'/cndd/Public_Datasets/CEMBA/snmCSeq/Datasets/CEMBA_3C_171206/allc/allc_*.bgz'

In [28]:
print(len(allc_paths))

1202

In [29]:
for i, allc_file in enumerate(allc_paths):
#     if i == 0:
    pass

In [32]:
allc_file = allc_paths[0]

df = snmcseq_utils.read_allc_CEMBA(allc_file)

/cndd/fangming/venvs/venv_banjo_snmcseq/lib/python3.4/site-packages/numpy/lib/arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [39]:
df = df[df.index.get_level_values(level=0).isin(snmcseq_utils.get_mouse_chromosomes())]

In [45]:
context = 'CA'
df_tmp = df.loc[df.context.isin(snmcseq_utils.get_expanded_context(context)), ['context', 'mc', 'c']]
df_tmp.head()

            context  mc  c
chr pos
X   3050266     CAA   0  1
    3050279     CAG   0  1
    3050283     CAT   0  1
    3050310     CAG   0  1
    3050326     CAG   0  1

In [ ]:
ti = time.time()
df_tmp.sum()
tf = time.time()
print(tf-ti)