In [54]:
import heapq 

from __init__ import *
import snmcseq_utils
from snmcseq_utils import create_logger
from CEMBA_update_mysql import connect_sql

In [55]:
log = create_logger()

In [56]:
# get a clustering result
ens = 'Ens7'
ens_path = os.path.join(PATH_ENSEMBLES, ens)
 
# database = 'CEMBA'
# engine = connect_sql(database)
# sql = '''SELECT cell_name, dataset, cluster_mCHmCG_lv_npc50_k30 
#         FROM cells 
#         RIGHT JOIN {} 
#         ON cells.cell_id = {}.cell_id'''.format(ens, ens)
# df = pd.read_sql(sql, engine, index_col='cell_name')
# df.columns = ['dataset', 'cluster'] 
# print(df.shape)
# df.head()

df = pd.read_table('test_merge_allc.tsv', index_col='cell_name')
print(df.shape)
df.head()

(4029, 2)

                                                            dataset  cluster
cell_name
171213_CEMBA_mm_P56_P63_3C_MOp_CEMBA171206_3C_4...  CEMBA_3C_171206        8
171213_CEMBA_mm_P56_P63_3C_MOp_CEMBA171206_3C_1...  CEMBA_3C_171206        1
171213_CEMBA_mm_P56_P63_3C_MOp_CEMBA171206_3C_1...  CEMBA_3C_171206       19
171213_CEMBA_mm_P56_P63_3C_MOp_CEMBA171206_3C_1...  CEMBA_3C_171206        6
171213_CEMBA_mm_P56_P63_3C_MOp_CEMBA171206_3C_4...  CEMBA_3C_171206        3

In [74]:
def merge_allc(allc_paths, context='CG'):
    """
    """
    pass

def CEMBA_allc_order(element):
    """reorder chromosomes (as CEMBA order)
    element is `next(iter_allc)` (an one row dataframe) 
    """
    trans_dict={'L': -4,
                'M': -3, 
                'X': -2, 
                'Y': -1, 
                }
    chrom, pos = element.chr.values[0], element.pos.values[0]
    try:
        chrom = int(chrom)
    except:
        chrom = trans_dict[chrom]
    return (chrom, pos)

def CEMBA_allc_order_v2(element):
    """reorder chromosomes (as CEMBA order)
    element is `next(iter_allc)` (an one row dataframe) 
    """
    trans_dict={'L': -4,
                'M': -3, 
                'X': -2, 
                'Y': -1, 
                }
    chrom, pos = element[1].chr, element[1].pos
    try:
        chrom = int(chrom)
    except:
        chrom = trans_dict[chrom]
    return (chrom, pos)
            
def key2(element):
    """
    reorder chromosomes
    """
    trans_dict={'L': -4,
                'M': -3, 
                'X': -2, 
                'Y': -1, 
                }
    chrom, pos = element
    try:
        chrom = int(chrom)
    except:
        chrom = trans_dict[chrom]
    return (chrom, pos)

In [84]:
# group allcs for each cluster_id
for cluster_id, df_sub in df.groupby('cluster'):
    if cluster_id == 26:
        allc_paths = [os.path.join(PATH_DATASETS, '{}/allc/allc_{}.tsv.bgz').format(dataset, cell) 
                      for (dataset, cell) in zip(df_sub.dataset, df_sub.index)]
        
        iter_allcs = [snmcseq_utils.read_allc_CEMBA(allc_path, chunksize=100000, pindex=False)
                       for allc_path in allc_paths]
        df_allcs = [next(iter_allc).iterrows() for iter_allc in iter_allcs]
#         iter_all = heapq.merge(*iter_allcs, key=CEMBA_allc_order)
        iter_all = heapq.merge(*df_allcs, key=CEMBA_allc_order_v2)

In [85]:
rows = []
# with open('merged_allc.tsv', 'w') as output:
tii = time.time()
ti = time.time()
for i, df_row in enumerate(iter_all):
    # one-row dataframe to a numpy array: df_row.values[0]
    chrom, pos, strand, context, mc, c, methylated = df_row[1]
    if i == 0:
        # first line
        (chrom_h, pos_h, strand_h, context_h, mc_h, c_h, methylated_h) = (chrom, pos, 
                                                                       strand, context, 
                                                                       mc, c, methylated)
    elif (chrom, pos) == (chrom_h, pos_h):
        # add to row hold
        mc_h += mc
        c_h += c 
    else:
        # output row_hold
        rows.append((chrom_h, pos_h, strand_h, context_h, mc_h, c_h, methylated_h))
        # update row to row_hold
        (chrom_h, pos_h, strand_h, context_h, mc_h, c_h, methylated_h) = (chrom, pos, 
                                                                       strand, context, 
                                                                       mc, c, methylated)
    if i%10000 == 0:
        logging.info("{}, {}".format(i, time.time() - ti))
        ti = time.time()
    if i == 100000:
        break
        
        
tff = time.time()
log.info(tff-tii)

02/14/2018 01:21:58 AM 0, 0.594764232635498
02/14/2018 01:21:59 AM 10000, 0.801738977432251
02/14/2018 01:22:00 AM 20000, 0.8160057067871094
02/14/2018 01:22:01 AM 30000, 0.809006929397583
02/14/2018 01:22:01 AM 40000, 0.7641851902008057
02/14/2018 01:22:02 AM 50000, 0.7890822887420654
02/14/2018 01:22:03 AM 60000, 0.787177562713623
02/14/2018 01:22:04 AM 70000, 0.7854893207550049
02/14/2018 01:22:05 AM 80000, 0.7708964347839355
02/14/2018 01:22:05 AM 90000, 0.7743821144104004
02/14/2018 01:22:06 AM 100000, 0.7852222919464111
02/14/2018 01:22:06 AM 8.490164279937744

In [27]:
pd.DataFrame(rows).head()

   0   1  2    3  4  5  6
0  L  11  +  CTC  0  1  1
1  L  13  +  CGC  0  1  1
2  L  15  +  CGG  0  2  1
3  L  23  +  CGC  0  2  1
4  L  25  +  CTA  0  2  1

In [17]:
a = iter(list(np.random.randn(10)))
b = iter(list(np.random.randn(10)))

res = heapq.merge(a, b, key=)

In [98]:
a = iter((('L', 1), ('M', 1), ('X', 2.5), ('X', 6), ('Y', 1), 
          ('1', 1), ('2', 2), ('11', 4)))
b = iter((('L', 2), ('L', 4), ('X', 6), ('1', 2), 
          ('3', 3)))
c = iter((('L', 1), ('M', 1), ('X', 2.5), ('X', 6), ('Y', 1), 
          ('1', 1), ('2', 2), ('3', 33333), ('11', 4)))


for i in heapq.merge(a, b, c, key=key2):
    print(i)

('L', 1)
('L', 1)
('L', 2)
('L', 4)
('M', 1)
('M', 1)
('X', 2.5)
('X', 2.5)
('X', 6)
('X', 6)
('X', 6)
('Y', 1)
('Y', 1)
('1', 1)
('1', 1)
('1', 2)
('2', 2)
('2', 2)
('3', 3)
('3', 33333)
('11', 4)
('11', 4)

In [45]:
df = snmcseq_utils.read_allc_CEMBA(allc_paths[0])

/cndd/fangming/venvs/venv_dobro_snmcseq/lib/python3.5/site-packages/numpy/lib/arraysetops.py:466: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [46]:
print(df.shape)
df.head()

(47614230, 5)

        strand context  mc  c  methylated
chr pos
L   15       +     CGG   0  1           1
    23       +     CGC   0  1           1
    25       +     CTA   0  1           1
    42       +     CCG   0  1           1
    43       +     CGG   0  1           1

In [47]:
df_cg = df[df.context.isin(snmcseq_utils.get_expanded_context('CG'))] 
print(df_cg.shape)
df_cg.head()

(1923213, 5)

        strand context  mc  c  methylated
chr pos
L   15       +     CGG   0  1           1
    23       +     CGC   0  1           1
    43       +     CGG   0  1           1
    53       +     CGT   0  1           1
    59       +     CGT   0  1           1

In [75]:

chrom_orders = []
for i, chrom in enumerate(df.index.get_level_values(0)):
    if chrom not in chrom_orders:
        chrom_orders.append(chrom)
chrom_orders

['L',
 'M',
 'X',
 'Y',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19']

In [133]:
next(iter_allcs[0]).values

array([['L', 53, '+', 'CGT', 0, 1, 1]], dtype=object)

In [82]:
47614230*50/(3600*10000)

66.130875

In [83]:
1923213*50/(3600*10000)

2.6711291666666668

In [70]:
next(df_allcs[0])[1].chr

'L'