In [1]:
import pandas as pd 
import numpy as np
import sqlalchemy as sa
from sqlalchemy import update
from sqlalchemy.dialects.mysql import INTEGER
from sqlalchemy.dialects.mysql import SMALLINT
import time
import os
import logging
import glob
from collections import OrderedDict
from itertools import product 


from __init__ import *
from snmcseq_utils import get_mouse_chromosomes
from snmcseq_utils import compute_global_mC 
from snmcseq_utils import create_logger

In [2]:
log = create_logger()

In [3]:
# An engine connects to a mysql database
engine = sa.create_engine('mysql://f7xie:3405040212@localhost/CEMBA')

In [209]:
def gene_id_to_table_name(gene_id):
    """
    """
    table_name = 'gene_' + gene_id.replace('.', '_')
    return table_name


CELLS_TABLE_COLS = ['cell_id', 
                     'cell_name', 
                     'dataset', 
                     'cell_type',
                     'global_mCH', 
                     'global_mCG',
                     'global_mCA',
                     'global_mCCC', 
                     'estimated_mCH', 
                     'estimated_mCG',
                     'percent_genome_covered', 
                     'total_reads',
                     'mapped_reads', 
                     'mapping_rate', 
                     'nonclonal_reads', 
                     'percent_nonclonal_rate',
                     'filtered_reads',
                     'filtered_rate',
                     'lambda_mC']

def define_cells_table(metadata):
    """
    """
    table = sa.Table('cells', metadata,
                sa.Column('cell_id', sa.Integer, primary_key=True, autoincrement=True), # auto increment and not null are implicitly defined
                sa.Column('cell_name', sa.String(255), nullable=False, unique=True), # unique but not primary key
                sa.Column('dataset', sa.String(40), nullable=False), # not in mapping summary
                sa.Column('cell_type', sa.String(20), nullable=True), # not in mapping summary
                     
                sa.Column('global_mCH', sa.Float, nullable=True),
                sa.Column('global_mCG', sa.Float, nullable=True),
                sa.Column('global_mCA', sa.Float, nullable=True), # not in mapping summary
                sa.Column('global_mCCC', sa.Float, nullable=True), 
                sa.Column('estimated_mCH', sa.Float, nullable=True),
                sa.Column('estimated_mCG', sa.Float, nullable=True),
                sa.Column('percent_genome_covered', sa.Float, nullable=True),
                     
                sa.Column('total_reads', sa.Integer, nullable=True),
                sa.Column('mapped_reads', sa.Integer, nullable=True),
                sa.Column('mapping_rate', sa.Float, nullable=True),
                sa.Column('nonclonal_reads', sa.Integer, nullable=True),
                sa.Column('percent_nonclonal_rate', sa.Float, nullable=True),
                sa.Column('filtered_reads', sa.Integer, nullable=True),
                sa.Column('filtered_rate', sa.Float, nullable=True),
                sa.Column('lambda_mC', sa.Float, nullable=True),
                )
    return table


def define_gene_table(metadata, gene_id):
    """
    """
    table_name = gene_id_to_table_name(gene_id)
    table = sa.Table(table_name, metadata,
                          # NOT auto increment not null primary key
                        sa.Column('cell_id', sa.Integer, sa.ForeignKey('cells.cell_id'), primary_key=True, autoincrement=False), 
                        sa.Column('mCH', INTEGER(unsigned=True), nullable=True),
                        sa.Column('CH', INTEGER(unsigned=True), nullable=True),
                        sa.Column('mCG', INTEGER(unsigned=True), nullable=True),
                        sa.Column('CG', INTEGER(unsigned=True), nullable=True),
                        sa.Column('mCA', INTEGER(unsigned=True), nullable=True),
                        sa.Column('CA', INTEGER(unsigned=True), nullable=True),
    )
    return table

def define_ens_table(metadata, ens):
    """
    """
    # prototypes
#   sa.Column('tsne_x_mCH', sa.Float, nullable=True),
#   sa.Column('tsne_y_mCH', sa.Float, nullable=True),
#   sa.Column('cluster', SMALLINT(unsigned=True), nullable=True),
#   sa.Column('annotation', sa.String(20), nullable=True),

    # tsnes
    contexts = CONTEXTS + ['m'.join(comb_contexts) for comb_contexts in COMBINED_CONTEXTS_LIST]
    perps = PERPLEXITIES
    tsne_types = ['m{}_ndim2_perp{}'.format(context, p) for (context, p) in product(contexts, perps)]
    
    # prepare columns
    args_tsne = ([sa.Column('tsne_x_{}'.format(tsne_type), sa.Float, nullable=True) 
            for tsne_type in tsne_types] 
            + [sa.Column('tsne_y_{}'.format(tsne_type), sa.Float, nullable=True) 
            for tsne_type in tsne_types]
           )
    
    # clusters
    ks = K_NN
    cluster_types = ['m{}_lv_npc50_k{}'.format(context, k) for (context, k) in product(contexts, ks)]
    # prepare columns
    args_cluster = ([sa.Column('cluster_{}'.format(cluster_type), SMALLINT(unsigned=True), nullable=True) 
            for cluster_type in cluster_types] 
            + [sa.Column('annotation_{}'.format(cluster_type), sa.String(20), nullable=True) 
            for cluster_type in cluster_types]
           )
    
    # combine cols
    args = args_tsne + args_cluster
    # create the table
    table = sa.Table(ens, metadata,
                        # NOT auto increment not null primary key
                        sa.Column('cell_id', sa.Integer, sa.ForeignKey('cells.cell_id'), primary_key=True, autoincrement=False), 
                        *args
    )
    return table

def define_enss_table(metadata):
    """
    """
    table = sa.Table('ensembles', metadata,
                          # NOT auto increment not null primary key
                        sa.Column('ensemble_id', sa.Integer, primary_key=True, autoincrement=False), 
                        sa.Column('ensemble_name', sa.String(255), nullable=False, unique=True),
                        sa.Column('public_access', sa.Boolean, nullable=False, default=False),
                        sa.Column('datasets', sa.String(4000), nullable=False),
    )
    return table

def define_genes_table(metadata):
    """
    """
    table = sa.Table('genes', metadata,
                          # NOT auto increment not null primary key
                        sa.Column('gene_id', sa.String(50), primary_key=True, autoincrement=False), 
                        sa.Column('gene_name', sa.String(100), nullable=False), 
                        sa.Column('chr', sa.String(5), nullable=True), 
                        sa.Column('start', sa.Integer, nullable=True), 
                        sa.Column('end', sa.Integer, nullable=True), 
                        sa.Column('strand', sa.CHAR(1), nullable=True), 
                        sa.Column('gene_type', sa.String(100), nullable=True), 
    )
    return table

def insert_into_worker(engine, table_name, dict_list, ignore=False):
    """
    """
    metadata = sa.MetaData(engine)
    table = sa.Table(table_name, metadata, autoload=True, autoload_with=engine)
    if ignore: 
        inserter = table.insert().prefix_with('IGNORE')
    else:
        inserter = table.insert()
        
    return engine.execute(inserter, dict_list)

def insert_into(engine, table_name, df_sql, ignore=False, verbose=True):
    """
    """
    # change null to none
    df_sql = df_sql.where(pd.notnull(df_sql), None)
    if verbose:
        print(df_sql.head())
    # dict_list
    dict_list = list(df_sql.T.to_dict().values())
    
    return insert_into_worker(engine, table_name, dict_list, ignore=ignore)

In [205]:
# ens
ens = 'Ens4'
ens_path = os.path.join(PATH_ENSEMBLES, ens)
cluster_files = sorted(glob.glob(os.path.join(ens_path, 'cluster/cluster_*.tsv'))) 
tsne_files = sorted(glob.glob(os.path.join(ens_path, 'tsne/tsne_*.tsv')))

# get cells
sql = """SELECT * FROM cells"""
df_cell = pd.read_sql(sql, engine)[['cell_id', 'cell_name']]

dfs_cluster = []
for cluster_file in cluster_files:
    # filename to cluster_type
    paras = os.path.basename(cluster_file).split('_')
    method, para1, para2, context = paras[1], paras[2], paras[3], paras[5]
    cluster_type = '{}_{}_{}_{}'.format(context, method, para1, para2) 
    # load data
    annot_file = cluster_file + '.annot'
    df_cluster = pd.read_table(cluster_file, index_col='sample')
    df_annot = pd.read_table(annot_file, index_col='cluster_ID')
    # merge 
    df_cluster = pd.merge(df_cluster, df_annot, left_on='cluster_ID', right_index=True)
    # organize format
    df_cluster.cluster_ID = [int(cluster_ID[len('cluster_'):])for cluster_ID in df_cluster.cluster_ID]
    df_cluster.columns = ['cluster_{}'.format(cluster_type), 
                         'annotation_{}'.format(cluster_type)]
    # append 
    dfs_cluster.append(df_cluster)
# merge 
df_clusters = pd.concat(dfs_cluster, axis=1)
    
dfs_tsne = []
for tsne_file in tsne_files:
    # filename to cluster_type
    paras = os.path.basename(tsne_file).split('_')
    para1, para2, context = paras[1], paras[2], paras[5]
    tsne_type = '{}_{}_{}'.format(context, para1, para2) 
    # load data
    df_tsne = pd.read_table(tsne_file, index_col='sample')
    # organize format
    df_tsne.columns = [col+'_'+tsne_type for col in df_tsne.columns]
    # append
    dfs_tsne.append(df_tsne)
df_tsnes = pd.concat(dfs_tsne, axis=1)
df = pd.concat([df_tsnes, df_clusters], axis=1)

df = pd.merge(df_cell, df, left_on='cell_name', right_index=True)
df = df.drop('cell_name', axis=1)
df.head()

,cell_id,tsne_x_mCA_ndim2_perp100,tsne_y_mCA_ndim2_perp100,tsne_x_mCAmCG_ndim2_perp100,tsne_y_mCAmCG_ndim2_perp100,tsne_x_mCG_ndim2_perp100,tsne_y_mCG_ndim2_perp100,tsne_x_mCH_ndim2_perp100,tsne_y_mCH_ndim2_perp100,tsne_x_mCHmCG_ndim2_perp100,...,cluster_mCA_lv_npc50_k5,annotation_mCA_lv_npc50_k5,cluster_mCAmCG_lv_npc50_k5,annotation_mCAmCG_lv_npc50_k5,cluster_mCG_lv_npc50_k5,annotation_mCG_lv_npc50_k5,cluster_mCH_lv_npc50_k5,annotation_mCH_lv_npc50_k5,cluster_mCHmCG_lv_npc50_k5,annotation_mCHmCG_lv_npc50_k5
2768,2769,-5.762300,-15.008065,-37.587276,12.646081,10.866119,11.335617,-7.823882,22.779170,8.615857,...,59,NaN,54,NaN,20,NaN,52,NaN,55,NaN
2769,2770,-0.178485,-9.851624,-29.237764,22.123650,13.289175,6.599739,-1.587324,16.138401,15.223225,...,38,mL6-1,38,mL6-1,22,mL6-1,22,mL6-1,21,mL6-1
2770,2771,-4.812684,4.926068,-15.597104,-37.158940,-13.232499,-2.398929,4.830728,1.114001,-20.163807,...,5,mL5-1,52,mL5-1,26,mL5-1,33,mL5-1,30,mL5-1
2771,2772,4.022660,14.922937,13.459216,-13.775705,-19.178972,-13.628133,-0.024424,-15.978237,-6.252432,...,35,mL2/3,42,mL2/3,4,mL2/3,1,mL2/3,5,mL2/3
2772,2773,5.178892,6.409532,5.937645,-32.622080,-9.346658,-8.356455,3.301490,-6.993064,-11.582888,...,24,mL4,8,mL4,1,mL4,10,mL4,15,mL4

In [206]:
table_name = ens 
insert_into(engine, table_name, df, ignore=False, verbose=True)

      cell_id  tsne_x_mCA_ndim2_perp100  tsne_y_mCA_ndim2_perp100  \
2768     2769                 -5.762300                -15.008065
2769     2770                 -0.178485                 -9.851624
2770     2771                 -4.812684                  4.926068
2771     2772                  4.022660                 14.922937
2772     2773                  5.178892                  6.409532

      tsne_x_mCAmCG_ndim2_perp100  tsne_y_mCAmCG_ndim2_perp100  \
2768                   -37.587276                    12.646081
2769                   -29.237764                    22.123650
2770                   -15.597104                   -37.158940
2771                    13.459216                   -13.775705
2772                     5.937645                   -32.622080

      tsne_x_mCG_ndim2_perp100  tsne_y_mCG_ndim2_perp100  \
2768                 10.866119                 11.335617
2769                 13.289175                  6.599739
2770                -13.232499                 -2.398929
2771                -19.178972                -13.628133
2772                 -9.346658                 -8.356455

      tsne_x_mCH_ndim2_perp100  tsne_y_mCH_ndim2_perp100  \
2768                 -7.823882                 22.779170
2769                 -1.587324                 16.138401
2770                  4.830728                  1.114001
2771                 -0.024424                -15.978237
2772                  3.301490                 -6.993064

      tsne_x_mCHmCG_ndim2_perp100              ...                \
2768                     8.615857              ...
2769                    15.223225              ...
2770                   -20.163807              ...
2771                    -6.252432              ...
2772                   -11.582888              ...

      cluster_mCA_lv_npc50_k5  annotation_mCA_lv_npc50_k5  \
2768                       59                        None
2769                       38                       mL6-1
2770                        5                       mL5-1
2771                       35                       mL2/3
2772                       24                         mL4

      cluster_mCAmCG_lv_npc50_k5  annotation_mCAmCG_lv_npc50_k5  \
2768                          54                           None
2769                          38                          mL6-1
2770                          52                          mL5-1
2771                          42                          mL2/3
2772                           8                            mL4

      cluster_mCG_lv_npc50_k5  annotation_mCG_lv_npc50_k5  \
2768                       20                        None
2769                       22                       mL6-1
2770                       26                       mL5-1
2771                        4                       mL2/3
2772                        1                         mL4

      cluster_mCH_lv_npc50_k5  annotation_mCH_lv_npc50_k5  \
2768                       52                        None
2769                       22                       mL6-1
2770                       33                       mL5-1
2771                        1                       mL2/3
2772                       10                         mL4

      cluster_mCHmCG_lv_npc50_k5  annotation_mCHmCG_lv_npc50_k5
2768                          55                           None
2769                          21                          mL6-1
2770                          30                          mL5-1
2771                           5                          mL2/3
2772                          15                            mL4

[5 rows x 121 columns]

In [166]:
# demo: create tables

metadata = sa.MetaData(engine)
# load specfic tables needed to referenced as foreign key
sa.Table('cells', metadata, autoload=True)

# define cells table
# cells_table = define_cells_table(metadata)

# define ensembles table
# enss_table = define_enss_table(metadata)

# define genes table
# genes_table = define_genes_table(metadata)



# define ensemble table
# ens = 'Ens4'
# ens_table = define_ens_table(metadata, ens)

# # define gene table
# gene_id = 'ENSG1111.1'
# gene_table = define_gene_table(metadata, gene_id)

metadata.create_all()

In [49]:
# update to genes table
table_name = 'genes'

path_genebody = GENEBODY
df_genes = pd.read_table(path_genebody, index_col='gene_id')

df_sql = df_genes.reset_index()
insert_into(engine, 'genes', df_sql, ignore=False, verbose=True)

                gene_id      gene_name   chr    start      end strand  \
0  ENSMUSG00000102693.1  4933401J01Rik  chr1  3073253  3074322      +
1  ENSMUSG00000064842.1        Gm26206  chr1  3102016  3102125      +
2  ENSMUSG00000051951.5           Xkr4  chr1  3205901  3671498      -
3  ENSMUSG00000102851.1        Gm18956  chr1  3252757  3253236      +
4  ENSMUSG00000103377.1        Gm37180  chr1  3365731  3368549      -

              gene_type
0                   TEC
1                 snRNA
2        protein_coding
3  processed_pseudogene
4                   TEC

In [28]:
def rename_ms_cols(column_names):
    """
    """
    dict_rename = {'Sample': 'cell_name', 
                   'Total reads': 'total_reads', 
                   'Mapped reads': 'mapped_reads', 
                   'Mapping rate': 'mapping_rate',
                   'Nonclonal reads': 'nonclonal_reads',
                   '% Nonclonal rate': 'percent_nonclonal_rate', 
                   'Filtered reads': 'filtered_reads', 
                   'Filtered rate': 'filtered_rate', 
                   'Lambda mC/C': 'lambda_mC', 
                   'mCCC/CCC': 'global_mCCC', 
                   'mCG/CG': 'global_mCG', 
                   'mCH/CH': 'global_mCH',
                   'Estimated mCG/CG': 'estimated_mCG', 
                   'Estimated mCH/CH': 'estimated_mCH', 
                   '% Genome covered': 'percent_genome_covered'}
    return [dict_rename[col] for col in column_names]

In [ ]:
# create gene tables 
ti = time.time()

metadata = sa.MetaData(engine)
# load specfic tables needed to referenced as foreign key
sa.Table('cells', metadata, autoload=True)


sql = 'SELECT * FROM genes'
df_genes = pd.read_sql(sql, engine, index_col='gene_id')
# print(df_genes.shape)
# df_genes.head()
# df_genes.sort_index().head()

# create gene tables 
for i, gene_id in enumerate(df_genes.index):
    logging.info("Creating gene tables... ({}/{})".format(i+1, df_genes.index.shape[0]))
    gene_table = define_gene_table(metadata, gene_id)

metadata.create_all(engine)

tf = time.time()
print(tf - ti)

In [170]:
# update to enss table
dict_list = [{'ensemble_id': 1, 'ensemble_name': 'CEMBA_3C_171206', 'public_access': False, 'datasets': 'CEMBA_3C_171206'},
             {'ensemble_id': 2, 'ensemble_name': 'CEMBA_3C_171207', 'public_access': False, 'datasets': 'CEMBA_3C_171207'},
             {'ensemble_id': 3, 'ensemble_name': 'CEMBA_4B_171212', 'public_access': False, 'datasets': 'CEMBA_4B_171212'},
             {'ensemble_id': 4, 'ensemble_name': 'CEMBA_4B_171213', 'public_access': False, 'datasets': 'CEMBA_4B_171213'},
            ]
table_name = 'ensembles'
insert_into_worker(engine, table_name, dict_list, ignore=False)

In [59]:
def chunks(l, n):
    """Yield successive n-sized chunks from l."""
    for i in range(0, len(l), n):
        yield l[i:i + n]

In [35]:
# stmt = users.update().where(users.c.id==5).values(name='user #5')

# dataset = 'CEMBA_3C_171207'
# df_res = compute_global_mC(dataset)

02/09/2018 08:02:24 PM Compute global methylation levels...(CEMBA_3C_171207, ['CH', 'CG', 'CA'])
02/09/2018 08:02:24 PM Progress: 1/1270
02/09/2018 08:03:03 PM Progress: 101/1270
02/09/2018 08:03:42 PM Progress: 201/1270
02/09/2018 08:04:21 PM Progress: 301/1270
02/09/2018 08:05:00 PM Progress: 401/1270
02/09/2018 08:05:39 PM Progress: 501/1270
02/09/2018 08:06:17 PM Progress: 601/1270
02/09/2018 08:06:56 PM Progress: 701/1270
02/09/2018 08:07:35 PM Progress: 801/1270
02/09/2018 08:08:13 PM Progress: 901/1270
02/09/2018 08:08:50 PM Progress: 1001/1270
02/09/2018 08:09:26 PM Progress: 1101/1270
02/09/2018 08:10:01 PM Progress: 1201/1270
02/09/2018 08:10:25 PM Done computing global methylation levels, total time spent: 480.4605016708374 seconds

In [36]:
# # update to cells table 
# metadata = sa.MetaData(engine)
# table = sa.Table('cells', metadata, autoload=True)

# sql = """SELECT * FROM cells WHERE dataset='{}'""".format(dataset)
# df_cells = pd.read_sql(sql, engine)
# df_cells = pd.merge(df_cells[['cell_id', 'cell_name']], df_res, left_on='cell_name', right_index=True)
# for i, row in df_cells.iterrows():
#     updater = update(table).where(table.c.cell_id==row.cell_id).values(global_mCA=row.global_mCA)
#     engine.execute(updater)

In [39]:
# update mapping summary file
# dataset_path = os.path.join(PATH_DATASETS, dataset)
# meta_path = os.path.join(dataset_path, 'mapping_summary_{}.tsv'.format(dataset)) 

# df_meta = pd.read_table(meta_path)
# df_meta['mCA/CA'] = df_res.loc[df_meta.Sample, 'global_mCA'].values
# df_meta.to_csv(meta_path, sep='\t', na_rep='NA', header=True, index=False)

In [8]:
# datasets = ['CEMBA_3C_171206']
# for dataset in datasets:
#     df_res = compute_global_mC(dataset)

#     # update to cells table 
#     metadata = sa.MetaData(engine)
#     table = sa.Table('cells', metadata, autoload=True)

#     sql = """SELECT * FROM cells WHERE dataset='{}'""".format(dataset)
#     df_cells = pd.read_sql(sql, engine)
#     df_cells = pd.merge(df_cells[['cell_id', 'cell_name']], df_res, left_on='cell_name', right_index=True)
#     for i, row in df_cells.iterrows():
#         updater = update(table).where(table.c.cell_id==row.cell_id).values(global_mCA=row.global_mCA)
#         engine.execute(updater)

#     # update mapping summary file
#     dataset_path = os.path.join(PATH_DATASETS, dataset)
#     meta_path = os.path.join(dataset_path, 'mapping_summary_{}.tsv'.format(dataset)) 

#     df_meta = pd.read_table(meta_path)
#     df_meta['mCA/CA'] = df_res.loc[df_meta.Sample, 'global_mCA'].values
#     df_meta.to_csv(meta_path, sep='\t', na_rep='NA', header=True, index=False)

02/09/2018 08:41:07 PM Compute global methylation levels...(CEMBA_3C_171206, ['CH', 'CG', 'CA'])
02/09/2018 08:41:07 PM Progress: 1/1202
02/09/2018 08:41:40 PM Progress: 101/1202
02/09/2018 08:42:12 PM Progress: 201/1202
02/09/2018 08:42:45 PM Progress: 301/1202
02/09/2018 08:43:18 PM Progress: 401/1202
02/09/2018 08:43:50 PM Progress: 501/1202
02/09/2018 08:44:23 PM Progress: 601/1202
02/09/2018 08:44:56 PM Progress: 701/1202
02/09/2018 08:45:29 PM Progress: 801/1202
02/09/2018 08:46:02 PM Progress: 901/1202
02/09/2018 08:46:35 PM Progress: 1001/1202
02/09/2018 08:47:08 PM Progress: 1101/1202
02/09/2018 08:47:41 PM Progress: 1201/1202
02/09/2018 08:47:42 PM Done computing global methylation levels, total time spent: 394.8638460636139 seconds